<button mat-icon-button class="back-button" aria-label="edit-icon" [routerLink]="['/tasks']">
  <mat-icon>reply</mat-icon> Back
</button>

<div class="content">
  <h2>{{ titleForm }}</h2>
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput formControlName="title" placeholder="Title" [required]="true">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput formControlName="description" placeholder="Description" [required]="true"></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="!taskForm.valid">{{ textButton }}</button>
  </form>
</div>




