mat-card {
  padding: 4px 16px;
  border-radius: 12px;
  box-shadow: none !important;
  border: 1px solid #000;

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p{
      max-width: 250px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &.info {
      gap: 15px;
    }

    .content-actions {
      .gray-icon {
        color: #000;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .content{
    p{
      font-size: 10px;
    }
  }
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #000 !important;
}
