<mat-card>
  <mat-card-content>
    <div class="content">
      <div class="content info">
        <mat-checkbox class="example-margin" [checked]="completed">
        </mat-checkbox>
        <p>{{ title }}</p>
      </div>
      <div class="content-actions">
        <button mat-icon-button class="gray-icon" aria-label="edit-icon">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button class="gray-icon" aria-label="delete-icon" (click)="deleteTask()">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
