@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  font-family: "Poppins", sans-serif;
}

body {
  padding: 32px 64px;
  box-sizing: border-box;
}

.success-snackbar {
  background-color: #6fcf97;
  color: #ffffff;
}

.error-snackbar {
  background-color: #eb5757;
  color: #ffffff;
}
