.content {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 650px;

  .spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
  }

  h2 {
    text-align: center;
    margin-bottom: 40px;
  }

  .content-task {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.spinner ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: #000000;
}
