<div class="content">
  <div class="content-header">
    <h2>Task Manager</h2>
    <button mat-raised-button [routerLink]="['/tasks/create']">
      Create Task
    </button>
  </div>
  <div *ngIf="loading" class="spinner">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="!loading" class="content-task">
    <div *ngFor="let task of tasks">
      <app-task-item
        [id]="task.id"
        [title]="task.title"
        [completed]="task.completed"
        (deleteClicked)="deleteTask(task.id)"
      ></app-task-item>
    </div>
  </div>
</div>
